<!DOCTYPE html>
<html lang="zh-CN" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BASE</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/shurenyun.css">
</head>
<body ng-app="BlankApp" ng-cloak>
 <div layout="row" class="main">
    <aside class="sidebar-main">
      <div class="logo">
        <a href="#"><img src="images/logo-white-full.svg"></a>
      </div>
      <ul>
        <li class="active"><md-button ng-href="#"><i class="fa fa-tachometer"></i>首页</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-server"></i>集群管理</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-cube"></i>应用管理</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-shopping-cart"></i>应用商店</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-cubes"></i>应用编排</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-cogs"></i>镜像构建</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-search"></i>日志查询</md-button></li>
      </ul>
      <hr>
      <hr>
      <ul>
        <li><md-button ng-href="#"><i class="fa fa-book"></i>用户手册</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-coffee"></i>数人社区</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-pencil-square-o"></i>工单反馈</md-button></li>
      </ul>
    </aside>
    <div class="homepage_mf" layout="column" flex>
      <nav ng-controller="AppCtrl" class="nav-main">
        <md-toolbar>
        <div class="md-toolbar-tools">
        	<!--导航栏的弹出框-->
        		<ul class="xuanxiang">
				<li class="jiqun fa fa-server"><p>新建集群</p></li>
				<li class="yingyong fa fa-cube"><p>新建应用</p></li>
				<li class="jingxiang fa fa-cogs"><p>新建镜像</p></li>
			</ul>
			<ul class="tixing">
				<li>云计算与Cloud Native|数人云CEO 王璞 @KVW 分享实录</li>
				<li>技术干货|Docker容器中需要避免的十种常见错误</li>
				<li>老肖语录|使用Docker做CI解惑</li>
				<li>如何利用Mesos持久化存储方案部署ArangoDB集群</li>
				<li>遇见Marathon：打造大规模容器生产环境</li>
			</ul>
			<ul class="enter">
				<li><a href="#">用户中心</a></li>
				<li><a href="#">登录</a></li>
			</ul>
          <md-button class="md-icon-button" aria-label="Settings">
            <i class="fa fa-bars"></i>
          </md-button>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Favorite">
            <i class="fa fa-th"></i>
          </md-button>
          <md-button class="md-icon-button" aria-label="More" ng-click="toggleRight()"
      ng-hide="isOpenRight()">
            <i class="fa fa-bell"></i>
          </md-button>
          <md-button class="md-icon-button" aria-label="More">
            <i class="fa fa-user"></i>
          </md-button>
        </div>
</md-toolbar>
</nav>


 

<!--添加主机-->
<div class="homepage_right">
	<div class="homepage_blank"></div>
	<div class="homepage_add">
		<div class="homepage_addtop" id="homepage_addtop">
			<p>在您添加主机之前，请检查以确保您的环境满足下述条件：</p>
		</div>
		<div class="lower_link" id="lower_link">
  			<div class="circles" id="circles">
    				<span class="circles_down  fa fa-chevron-down"></span>
 			</div>
		</div>
		<div class="homepage_tag">
			<ul>
				<li><input type="text" placeholder="主机名称（默认为主机IP地址）"/></li>
				<li><input type="text" placeholder="+TAG"/></li>
			</ul>
			<div class="box">
				<div class="homepage_doc">
					<ol>
						<li class="homepage_docone">1.安装Docker</li>
						<li class="homepage_doctwo">主机已安装Docker,请跳过。</li>
						<li class="homepage_docthre"><a href="#">curl-sSL https://coding.net/u/upccup/p/dm-agent-</br>installer/git/raw/master/install-docker.sh | sh</a></li>
					</ol>
					<div class="homepage_usd fa fa-files-o"></div>
				</div>
				<div class="homepage_anget">
					<ol>
						<li class="homepage_docone">2.安装Agent</li>
						<li class="homepage_doctwo">请登录目标主机，运行以下命令，本操作需要sudo权限。依据组件不同，</br>可能需要2-5G磁盘空间。</br>先加入集群的主机将作为集群的master安装主控组件，当集群中master</br>数量足够之后加入集群的主机才作为计算节点</li>
						<li class="homepage_docthre"><a href="#">sudo -H OMEGA_ENV=prod bash -c "$ (curl -Ls http://</br>coding.net/u/upccup/p/dm-agent-installer/git/raw/master/</br>install-agent.sh )" -s 3b1e6201b355422096594b16534b5659</a></li>
					</ol>
					<div class="homepage_usd fa fa-files-o"></div>
				</div>
			</div>
			<div class="complete">完成</div>
			<div class="goon">完成并继续添加主机</div>
		</div>

	</div>
</div>


</div>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Sidenav Right</h1>
  </md-toolbar>
  <md-content ng-controller="RightCtrl" layout-padding>
    <div ng-controller="AppCtrl2">
      <md-content>
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="item in todos">
            <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
              <div class="md-list-item-text" layout="column">
                <h3>{{ item.who }}</h3>
                <h4>{{ item.what }}</h4>
                <p>{{ item.notes }}</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
      <md-button ng-click="close()" class="md-icon-button">
        <i class="fa fa-angle-double-right"></i>
      </md-button>
    </md-content>
  </md-sidenav>
</div>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="js/mianframe.js"></script>
<script src="js/script.js"></script>
<!-- Your application bootstrap  -->
</body>
</html>