<!DOCTYPE html>
<html lang="zh-CN" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BASE</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/shurenyun.css">
</head>
<body ng-app="BlankApp" ng-cloak>
  <div layout="row" class="main">
    <aside class="sidebar-main">
      <div class="logo">
        <a href="#"><img src="images/logo-white-full.svg"></a>
      </div>
      <ul>
        <li class="active"><md-button ng-href="#"><i class="fa fa-tachometer"></i>首页</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-server"></i>集群管理</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-cube"></i>应用管理</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-shopping-cart"></i>应用商店</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-cubes"></i>应用编排</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-cogs"></i>镜像构建</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-search"></i>日志查询</md-button></li>
      </ul>
      <hr>
      <hr>
      <ul>
        <li><md-button ng-href="#"><i class="fa fa-book"></i>用户手册</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-coffee"></i>数人社区</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-pencil-square-o"></i>工单反馈</md-button></li>
      </ul>
    </aside>
    <div layout="column" flex>
     <nav ng-controller="AppCtrl" class="nav-main">
        <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings">
            <i class="fa fa-bars"></i>
          </md-button>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Favorite">
            <i class="fa fa-th"></i>
          </md-button>
          <md-button class="md-icon-button" aria-label="More" ng-click="toggleRight()"
      ng-hide="isOpenRight()">
            <i class="fa fa-bell"></i>
          </md-button>
          <md-button class="md-icon-button" aria-label="More">
            <i class="fa fa-user"></i>
          </md-button>
        </div>
</md-toolbar>
</nav>

<div class="right_box">
	<div class="right_top">
		<p>集群名称</p>
		<ul>
			<li id="right_top_one"><i class="fa fa-heartbeat"></i><span>正常机主</span><em class="grenn">135</em></li>
			<li><i class="fa fa-chain-broken"></i><span>失联主机</span><em class="red">12</em></li>
			<li><i class="fa fa-bomb"></i><span>报警主机</span><em class="yellow">3</em></li>
			<li><i class="fa fa-gear"></i><span>初始化主机</span><em class="blue">7</em></li>
		</ul>
	</div>
	<div class="right_center" id="right_center">
		<div class="rc_left">
			<dl>
				<dt></dt>
				<dd><span>CPU 占用量</span></br>1.5 / 2</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd><span>内存占用量</span></br>750 / 1000 M</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd><span>磁盘占用量</span></br>1.5 / 2 T</dd>
			</dl>
		</div>
		<div class="rc_right" id="rc_right">
			<div class="rc_mysql" id="rc_mysql">
				<ul>
					<span>Wordpress</span>
					<li><p>75.00%<i>CPU</i></p></li>
					<li><p>75.00%<i>内存</i></p></li>
					<li><p>75.00%<i>磁盘</i></p></li>
				</ul>
				<ul>
					<span>MySQL</span>
					<li><p>75.00%<i>CPU</i></p></li>
					<li><p>75.00%<i>内存</i></p></li>
					<li><p>75.00%<i>磁盘</i></p></li>
				</ul>
				<ul>
					<span>MySQL</span>
					<li><p>75.00%<i>CPU</i></p></li>
					<li><p>75.00%<i>内存</i></p></li>
					<li><p>75.00%<i>磁盘</i></p></li>
				</ul>
				<ul>
					<span>MySQL</span>
					<li><p>75.00%<i>CPU</i></p></li>
					<li><p>75.00%<i>内存</i></p></li>
					<li><p>75.00%<i>磁盘</i></p></li>
				</ul>
			</div>
			<div class="lower_link" id="lower_link">
				<div class="circles" id="circles">
					<span class="circles_down fa fa-chevron-down"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="right_top">
		<p>集群名称</p>
		<ul>
			<li id="right_top_one"><i class="fa fa-heartbeat"></i><span>正常机主</span><em class="grenn">135</em></li>
			<li><i class="fa fa-chain-broken"></i><span>失联主机</span><em class="red">12</em></li>
			<li><i class="fa fa-bomb"></i><span>报警主机</span><em class="yellow">3</em></li>
			<li><i class="fa fa-gear"></i><span>初始化主机</span><em class="blue">7</em></li>
		</ul>
	</div>
	<div class="right_bottom">
		<div class="rc_left">
			<dl>
				<dt></dt>
				<dd><span>CPU 占用量</span></br>1.5 / 2</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd><span>内存占用量</span></br>750 / 1000 M</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd><span>磁盘占用量</span></br>1.5 / 2 T</dd>
			</dl>
		</div>
		<div class="rc_right">
			<ul>
				<span>Wordpress</span>
				<li><p>75.00%<i>CPU</i></p></li>
				<li><p>75.00%<i>内存</i></p></li>
				<li><p>75.00%<i>磁盘</i></p></li>
			</ul>
		</div>
	</div>
</div>

</div>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Sidenav Right</h1>
  </md-toolbar>
  <md-content ng-controller="RightCtrl" layout-padding>
    <div ng-controller="AppCtrl2">
      <md-content>
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="item in todos">
            <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
              <div class="md-list-item-text" layout="column">
                <h3>{{ item.who }}</h3>
                <h4>{{ item.what }}</h4>
                <p>{{ item.notes }}</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
      <md-button ng-click="close()" class="md-icon-button">
        <i class="fa fa-angle-double-right"></i>
      </md-button>
    </md-content>
  </md-sidenav>
</div>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="js/script.js"></script>
<script src="js/data.js"></script>
<!-- Your application bootstrap  -->
<script>
	
</script>
</body>
</html>