*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.container{
	width: 100%;
	height: 100%;
}
.con_top{
	width: 100%;
	height: 60px;
}
.text p{
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
}
.text span{
	display: block;
	color: #a45d85;
	text-align: center;
	padding-top: 20px;
}
#icon_first{
	margin-top: 40px;
}
.icon{
	width: 100%;
	margin-top: 10px;
}
.icon ul{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	padding-left: 30px;
	padding-right: 30px;
}
.icon ul li{
	-webkit-box-flex: 1;
	padding-left: 10px;
}
.icon ul li img{
	width: 100%;
	height: auto;
}



















